html
{
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  height: 100%;
}
body {
  background-color:  white;
}

h1
{
  background-color: white;
  text-align: center;
}

div.form-default {
    padding: 1em;
    border-radius: 5px;
    color: black;   
    background-color: white;
    box-shadow: rgb(158, 158, 158) 0px 0px 3px 1px;
}
/*table.userlist {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: hidden;
  }*/
  div.form-userlist
  {
    padding: 1em;
    border-radius: 5px;
    float: left;
    background-color: white;
    color: black;
    box-shadow: rgb(158, 158, 158) 0px 0px 3px 1px;
  }
  

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    overflow: hidden
  }
  html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }