html {
    height: 100%;
}


body {
    background-color:  #661111;
}

h3
{
    color: #661111;
    text-align: center;
}
h2
{
    background-color: white;
}
h1
{
    background-color: white;
    text-align: center;
}
th
{
    color: #661111
}
td
{
    color: #661111
}
h5{
    color: #661111
}

/* Form default style */

#aboutParagraph
{
    background-color: white;
    display: none;
}
div.about-form
{

    padding: 1em;
    position: absolute;
    top: 0;
    right: 0;
}
span
{
    color: #661111;
}
div.form-default h3 {
    color: black;
}
div.form-default p{
    color: black;
}

div.form-default a {
    color: #661111;
}


/* Login page */

div.form-login {
    background-color: white;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
}

div.form-login div#logo {
    margin: auto;
    text-align: center;
}

div.form-login div#options {
    text-align: right;
}

/* Forgot page */



/* Form page */

div.form-signup {
    background-color: white;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
}
img{
    max-width: 100%;
    height: auto;
}
div.form-default-userlist {
    border-radius: 5px;
    position: relative;
    color: black;   
    background-color: white;
    box-shadow: rgb(158, 158, 158) 0px 0px 3px 1px;
}
div.form-default
{
        padding: 1em;
        border-radius: 5px;
        color: black;   
        background-color: white;
        box-shadow: rgb(158, 158, 158) 0px 0px 3px 1px;
}
div.form-about
{
    background-color: white;
    color: #2F4F4F;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0px;
    max-width: 36em;
}

div.form-signup div#options {
    text-align: right;
}
button
{   
    background-color: white;
    border: 0mm;
    color: #661111;
}